#signature {
  font-family: 'Style Script', cursive;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#contact {
    background: url('Assets/Intro.jpg') center center/cover no-repeat;
    min-height: 300px;
}

#icon {
    width: 100px;
    margin-right: 10px;
}

.signature-bg {
  position: relative;
  background: url('Assets/Linie2.jpg') left bottom/contain no-repeat;
  padding-bottom: 40px;
  max-width: 100%;
}

.nav-item {
    transition: border-color 0.1s;
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    border-bottom: 2px solid #afa063;
}